
.content-div {
  .control-label, .form-control-label,
  .form-group .control-label,
  .form-group .form-control-label {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    color: #363a41;
  }

  .h4, h4 {
    color: #363a41;
  }

}
